:root {
    /* Colors */
    --bg-color: #ffffff;
    --text-primary: #1a1a1a;
    --text-secondary: #555555;
    --text-tertiary: #666666;
    --accent-color: #2563eb;
    --accent-hover: #1d4ed8;
    --grid-color: #cbd5e1; /* Darker for better visibility */
    --grid-color-active: #a5acba;
    --nav-bg: rgba(255, 255, 255, 0.102);
    --nav-border: rgba(44, 44, 44, 0.366);
    --nav-text: #515151;
    --nav-text-active: #000000;
    --nav-shadow: rgba(31, 38, 135, 0.37);
    --slot-bg: rgba(255, 255, 255, 0.9);
    --slot-hover-bg: #ffffff;
    --slot-center-hover-bg: rgba(37, 99, 235, 0.4);
    --interactive-cell-hover: rgba(37, 99, 235, 0.1);
    --bg-grid: #08022526;
}

[data-theme="dark"] {
    --bg-color: #0f172a;
    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
    --text-tertiary: #94a3b8;
    --accent-color: #60a5fa;
    --accent-hover: #3b82f6;
    --grid-color: #334155; /* Lighter for better visibility */
    --grid-color-active: #475569;
    --nav-bg: rgba(15, 23, 42, 0.6);
    --nav-border: rgba(255, 255, 255, 0.1);
    --nav-text: #94a3b8;
    --nav-text-active: #f8fafc;
    --nav-shadow: rgba(0, 0, 0, 0.5);
    --slot-bg: rgba(30, 41, 59, 0.9);
    --slot-hover-bg: #1e293b;
    --slot-center-hover-bg: rgba(96, 165, 250, 0.4);
    --interactive-cell-hover: rgba(96, 165, 250, 0.1);
    --bg-grid: #366db985;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sub-text {
    font-size: .95rem;
    color: var(--text-secondary); 
}

.sub-heading {
    font-size: 1.35rem;
    color: var(--text-primary);
    margin-bottom: .5rem;
}