@import url(./base.css);
@import url(./grid.css);
@import url(./hero.css);
@import url(./nav.css);
@import url(./contact.css);
@import url(./project.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
}

body {
    position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

